.arya {
  width: 500px;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.arya br {
  display: none;
}
.aryatxt br {
  display: block;
}
.arya:before {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 1px;
  height: 90%;
  left: 250px;
}
.aryaheader {
  width: 460px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 106px;
  text-align: center;
  margin-bottom: 20px;
}
.aryaheader > div {
  font-family: "Old Standard TT";
  text-transform: uppercase;
  width: 30%;
  font-weight: bold;
}
.aryaheader .aryahd {
  font-size: 9px;
}
.aryaheader .aryahi {
  font-size: 12px;
}
.aryaheader img {
  border-radius: 100%;
  position: relative;
}
.aryatxt {
  column-count: 2;
  column-gap: 30px;
  text-align: justify;
  font: 12px calibri;
}
.ncredit {
  width: 500px;
  text-align: right;
  margin: 0 auto;
  display: block;
  font-size: 10px;
  text-decoration: none;
  font: 8px verdana;
}
.arya + br + .ncredit {
  margin-top: -15px;
}
.ncredit:before {
  content: "©";
}
